body{
    /*background-color: rgb(197, 190, 245);*/

    /*font-family: "Trirong", serif;*/
    background-color: var(--seconde-color);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    /*background-color: #e7e7e7;*/
    --primary-color:rgb(202, 140, 253);
    --secondary-color:rgb(1, 1, 72);

    /*--first-color:#a856a8;*/
    --first-color:#a86a6a;
    --seconde-color:#181d22;
    --third-color:#8c9797;
    --fourth-color:#475558;
    --fifth-color:#252b2e;

    /*--first-color:#cecece;
    --seconde-color:#dfe0e2;
    --third-color:#2f3441;
    --fourth-color:#4c515f;
    --fifth-color:#979fb6;
    --sixth-color:#71778d;*/

}
p{
    color: var(--third-color);
}
h3,h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 30px;
    color: var(--first-color);
}



/*LOGIN PAGE*/

#login-title{
    font-size: 30px;
    margin-bottom: 60px;
    margin-top: 10px;
}
.login{
    position: absolute;
    width: 100%;
    min-height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../images/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.login-container {
    backdrop-filter: blur(10px);
    margin: auto;
    width: 320px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    padding: 10px;
    border-radius: 20px;
    border-color: var(--first-color);
    border-style: solid;
    top: 50%;
    left: 50%;
    box-shadow: 10px 20px 20px 0px rgba(0, 0, 0, 0.6);
}
 
.action-button {
    width: 40%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.54);
    border-color: var(--first-color);
    background-color: transparent;
    border-style: solid;
    font-size: 20px;
    margin-top: 40px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.54);
}
.action-button:hover{
    cursor:pointer;
    transform: scale(1.1);
}

.login-info{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info-box{
    height: 35px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    border: none;
}
.info-icon{
    color:var(--seconde-color);
    padding-right: .5em;
    font-size: 1.3em;
}
  
.login-container a {
    margin-top: 20px;
    text-decoration: none;
    color:var(--seconde-color);
}
#forgot-psswrd:hover,#signup-link:hover{
    color: var(--first-color);
}

/*HOME PAGE*/
.header1{
    margin-bottom: 70px;
    height: 100px;
    width: 100%;
    padding: 0;
    background-color: var(--fifth-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header1 p,button,.fa-right-from-bracket{
    font-size: 25px;
    color: var(--first-color);
}

.header1 button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 140px;
    background-color: transparent;
    margin: 20px;
    border: none;
}
.fa-solid{
    margin-left: 10px;
}

.header1 p{
    margin-left: 15px;
}
#user-display-container{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.user-container{
    margin: 10px;
    width: 300px;
    /*border: 1px solid rgb(202, 140, 253);*/
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);

}
.user-container p{
    display: flex;
    justify-content: center;
}
.user-container:hover{
    cursor:pointer;
    transform: scale(1.1);
}
.PTO-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main-container{
    display: flex;
}
#employee-info{
    height: 200px;
    width: 45%;
    /*border: 2px solid rgb(104, 82, 134);*/
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fifth-color);
}

.employee-data p{
    margin: 6px;
    font-size: 18px;
}


/*CALENDAR INT*/
.calendar-container {
   /* background: #fff;*/
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    margin-top: 30px;
    /*background-color: var(--third-color);*/
}
 
.calendar-container header {
    display: flex;
    align-items: center;
    padding: 25px 30px 5px;
    justify-content: space-between;
    /*background-color: #dcdcdc;*/
    /*background-color: #544671;*/
    background-color: var(--seconde-color);
}
 
header .calendar-navigation {
    display: flex;
}
 
header .calendar-navigation span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    user-select: none;
    color: #aeabab;
    font-size: 1.9rem;
}
.calendar-header p{
    color: var(--first-color);
}
 
.calendar-navigation span:last-child {
    margin-right: -10px;
}
 
header .calendar-navigation span:hover {
    /*background: #f2f2f2;*/
    background: var(--fourth-color);
}
 
header .calendar-current-date {
    font-weight: 500;
    font-size: 1.45rem;
}
 
.calendar-body {
    margin: 0;   
}
.calendar-weekdays, .calendar-dates{
    margin: 0;
    padding: 0;
}
 
.calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}
 
.calendar-body .calendar-dates {
    margin-bottom: 20px;
}
 
.calendar-body li {
    width: calc(100% / 7);
    font-size: 1.0rem;
    /*color: #414141;*/
    color:#cacaca;
}
 
.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
}
 
.calendar-body .calendar-dates li {
    margin-top: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
 
.calendar-dates li.inactive {
    color:var(--fourth-color);
}
 
.calendar-dates li.active {
    color: #fff;
}
 
.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
 
.calendar-dates li.active::before {
    /*background: #6332c5;*/
    background: var(--first-color);
}
 
.calendar-dates li:not(.active):hover::before {
    /*background: #e4e1e1;*/
    background: var(--fourth-color);
}

.calendar-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;


    width: 85%;
    margin-top: 80px;
    box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.2);
    background-color: var(--fifth-color);

}

.calendar-dates li.selected {
    color: #fff;
}
.calendar-dates li.selected::before {
    /*background: #65adf6;*/
    background: #684949;
}


#selected-dates{
    margin-top: 40px;
}
#selected-dates button{
    width: 180px;
    height: 60px;
    border-radius: 20px;
    margin-bottom: 50px;
    background-color:var(--first-color);
    color: var(--seconde-color);
    font-size: 20px;
    border: none;
}

.display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    /*background-color: #d7d7d7;*/
}
.title-container{
    display: none;
}
.picture-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 70%;
    border: 2px solid var(--first-color);
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.54);
}
.picture-container img{
    width: 100%;
    height: 100%;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2); 
}
#overlay p{
    margin: 0;
    text-align: center; 
    font-size: 20px;
    color: #dcdcdc;
}

.x-icon{
  position: absolute;
  top:-14px;
  right: -8px;
  font-size: 25px;
  color: var(--first-color);
}

@media only screen and (max-width: 600px) {
    .main-container{
        display: flex;
        flex-direction: column;
    }
    .PTO-container {
        display: flex;
        flex-direction: column;
    }
    .PTO-container h3{
        margin-top: 50px;
    }
    .calendar-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #user-display-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .user-container{
        width: 80%;
    }
    #employee-info{
        width: 80%;
    }
    .picture-container{
        width: 90%;
    }
}



.calendar-section{
    /*border: 2px solid rgb(202, 140, 253);*/

}

.calendar-container{
    margin-bottom: 30px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}